<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
      <context-param>
        <param-name>cache-system</param-name>
        <!-- for use db caching system use db and for use Map caching system use map -->
        <param-value>db</param-value>
    </context-param>
  <welcome-file-list>
  <welcome-file>getProduct</welcome-file>
  </welcome-file-list>
</web-app>
